@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oxygen);



.navbar {

	margin-bottom: 0;
	background-color: #424242;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.jumbotron {

	min-height: 600px;
}
	

.jumbotrontextcontainer {

		font-family: 'Oxygen', sans-serif;
  	text-align: center;
  	padding-top: 12%;
}



.footer {
	min-width: 50px;
	text-decoration: none;
	color: white;
	padding-top: 5px;
	background-color: #ff4742;
	margin-top: 50px;
	text-align: center;
  margin-left: 70vw;
  margin-right: 20vw;
  border-radius: 3px;
	
}