@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
	margin-bottom: 0;
}

.jumbotron {

	min-height: 600px;
}
	

.jumbotrontextcontainer {
	
  	text-align: center;
  	padding-top: 12%;
}



.footer {
	margin-top: 50px;
	text-align: center;
	
}